@import url("https://fonts.googleapis.com/css2?family=Gotu&display=swap");
/*----------------------------*\
 #CUSTOM PROPERTY
\*----------------------------*/

:root {
  /* colors */

  /* typography */

  --ff-gotu: "Gotu", sans-serif;

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /* spacing */
  --section-padding: 40px;

  /* radius */
  --radius-4: 4px;
  --radius-6: 6px;

  /* transition */
  --transition-1: 0.05s ease;
  --transition-2: 0.25s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
img,
span,
input,
label,
button,
ion-icon {
  display: block;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

:focus-visible {
  outline-offset: 4px;
}

::selection {
  background-color: var(--black_98);
  color: var(--white);
}

html {
  font-size: 14px;
  font-family: var(--ff-gotu);
  scroll-behavior: smooth;
}

/* body {
  font-size: 1.14rem;
  background-color: #f2f2f2 !important;
  color: black;
} */

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 15px;
}

/* Buttons */

.section {
  padding-block: var(--section-padding);
}

.h3 {
  font-family: var(--ff-fauna);
  font-size: var(--fs-4);
}

.h2 {
  font-size: var(--fs-1);
  font-weight: var(--fw-500);
  color: var(--dark-blue);
}

.w-100 {
  width: 100%;
}

.has-scrollbar {
  display: flex;
  overflow-x: scroll;
  padding-block-end: 30px;
  margin-block-end: -30px;
  scroll-snap-type: inline mandatory;
}

.has-scrollbar::-webkit-scrollbar {
  height: 10px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 15px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: var(--black_97);
}

@media (min-width: 569px) {
  /*-----------------------------------*\
  #REUSED STYLE
  \*-----------------------------------*/

  .container {
    max-width: 520px;
    margin-inline: auto;
  }
}

@media (min-width: 768px) {
  /*-----------------------------------*\
  #REUSED STYLE
  \*-----------------------------------*/

  .container {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  /*-----------------------------------*\
  #REUSED STYLE
  \*-----------------------------------*/

  .container {
    padding-inline: 40px;
    max-width: 1020px;
  }
}

@media (min-width: 1200px) {
  /*-----------------------------------*\
  #REUSED STYLE
  \*-----------------------------------*/

  .container {
    max-width: 1200px;
  }
}

@media (min-width: 992px) {
}
