.container {
  padding: var(--section-padding) 0;
}
.grid {
  display: grid;
}
.titleContainer {
  padding-bottom: 18px;
  border-bottom: 2px solid var(--black_3);
}
.healthGrid {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 19px;
}
.dateContainer {
  display: flex;
  gap: 4px;
  align-items: center;
}
.categoryContainer {
  display: flex;
  justify-content: start;
  gap: 6px;
  align-items: center;
}
.category {
  background-color: var(--info);
  color: var(--white);
  padding: 2px 12px;
  font-size: 10px;
  line-height: 13px;
  height: 18px;
  margin-bottom: 10px;
  font-weight: var(--fw-400);
}

.title {
  font-weight: var(--fw-600);
  font-size: 15px;
  line-height: 19px;
}
.date {
  color: var(--gray_1);
  font-size: 10px;
  font-weight: var(--fw-400);
  line-height: 24px;
  font-family: var(--ff-poppins);
}
.icon {
  color: var(--gray_1);
  font-size: 10px;
  font-weight: var(--fw-400);
  line-height: 24px;
  margin-top: -2px;
}

@media (min-width: 767px) {
  .healthGrid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 36px;
  }
  .title {
    line-height: 22px;
  }
}

@media (min-width: 992px) {
  .healthGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
