.container {
  /* padding: 11px 0; */
  background: var(--gradient-1);
  color: var(--white);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.date {
  font-weight: var(--fw-400);
  font-size: 14px;
  line-height: 20px;
}

.category {
  background-color: var(--bg-1);
  padding: 11px 24px;
}
